$color-primary: #43aa8b;
$color-secondary: #fbfbff;
$solor-tertiary: #172815;
$color-quinary: #aa958b;

body {
  font-family: "Roboto", sans-serif;
  background: $color-secondary;
}

a {
  text-decoration: none;
}

// header top
.icon-top {
  background: $color-primary;
  a {
    color: $color-secondary;
    font-size: 25px;
    transition: color 1s ease;
    &:hover {
      color: $solor-tertiary;
    }
  }
  h5 {
    color: $solor-tertiary;
  }
}

/*^*^**^*^*navbar*^*^**^*^**/
.navbar {
  background: $solor-tertiary !important;
  padding: 10px 20px !important;
  transition: padding 2s ease;
  &-background {
    padding: 2px 20px !important;
  }
  &-brand {
    color: $color-primary;
    border: 3px solid $color-primary;
    font-size: 30px;
    transition: all 2s;
    &:hover {
      background: $color-primary;
      color: $solor-tertiary;
    }
  }

  &-toggler {
    border: 3px solid $color-primary;
    padding: 3px;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: $color-primary;
  transition: all 0.5s ease;
}

.change {
  & .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  & .bar2 {
    opacity: 0;
  }

  & .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
  }
}

.nav-link {
  color: $color-secondary;
  font-size: 25px;
  padding: 10px 20px !important;
  border-radius: 5px;
  transition: background 2s ease;

  &:hover {
    background: $color-primary;
    color: $color-secondary;
  }
}

.nav-active {
  color: $color-secondary;
  font-size: 25px;
  padding: 10px 20px !important;
  border-radius: 5px;
  background: $color-primary;
  transition: background 2s ease;

  &:hover {
    background: $color-primary;
  }
}

.search-btn {
  background: $color-primary;
  transition: all 1s ease;

  &:hover {
    color: $color-primary;
    background: #191919;
  }
}

/*#################banner##############*/

.item-1,
.item-2,
.item-3 {
  min-height: 60vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
}

.item-1 {
  background: linear-gradient(
      to right,
      rgba(67, 170, 139, 0.9),
      rgba(67, 170, 139, 0.5)
    ),
    url(../img/banner-1.jpeg) center/cover fixed no-repeat;
}

.item-2 {
  background: linear-gradient(
      to right,
      rgba(67, 170, 139, 0.9),
      rgba(67, 170, 139, 0.5)
    ),
    url(../img/banner-2.jpeg) center/cover fixed no-repeat;
}

.item-3 {
  background: linear-gradient(
      to right,
      rgba(67, 170, 139, 0.9),
      rgba(67, 170, 139, 0.5)
    ),
    url(../img/banner-3.jpeg) center/cover fixed no-repeat;
}

.no-padding {
  padding: 0;
}

.banner-btn {
  color: $color-secondary;
  border: 2px solid $color-secondary;
  transition: all 1s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  &:hover {
    color: $color-primary;
    background: $color-secondary;
    border-color: $color-secondary;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  }
}

/*###################title#########*/

.title {
  h1 {
    color: $solor-tertiary;
  }

  h3 {
    color: #5a5a5a;
  }

  & .title-underline {
    height: 5px;
    width: 250px;
    background: $color-primary;
    margin: -28px auto 0 auto;
  }

  & a {
    color: $color-primary;
    font-size: 30px;
    padding: 0px 10px;
    display: inline-block;
    background: $color-secondary;
  }
}

/*###########skills##################*/

.skills-icon {
  background: $solor-tertiary;
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
  transition: all 1s ease;

  &:hover {
    background: $color-primary;
  }

  & span {
    font-size: 100px;
    color: $color-quinary;
    transition: all 1s ease-in-out;
  }

  &:hover span {
    color: $color-secondary;
  }
}

/*###########about############*/

#about {
  min-height: 40vh;
  background: $color-quinary;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);

  & .title a {
    background: $color-quinary;
  }
}

.about-text a {
  color: $color-secondary;
  background: $color-primary;
  border: 2px solid $color-primary;
  transition: all 1s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  &:hover {
    color: $color-primary;
    background: $color-secondary;
    border-color: $color-secondary;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  }
}

.about-progress {
  min-height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/video-filler.jpeg) center/cover fixed no-repeat;
  outline: 5px solid $color-primary;
  outline-offset: 10px;
}

.progress-bar {
  background: $color-primary;
}

/*##############video-filler###############*/

#modal-filler {
  min-height: 50vh;
  background: linear-gradient(rgba(67, 170, 139, 0.5), rgba(67, 170, 139, 0.5)),
    url(../img/video-filler.jpeg) center/cover fixed no-repeat;

  & a {
    color: $solor-tertiary;
    font-size: 80px;
    animation: myAnimation 3s ease infinite;
  }
}

@keyframes myAnimation {
  50% {
    transform: scale(1.5);
    color: $color-secondary;
  }
}

/*#############projects##########*/

#projects button {
  background: $color-primary;
  color: $color-secondary;
  transition: all 1s ease-in-out;

  &:hover {
    background: $solor-tertiary;
  }
}

.img-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(181, 181, 14, 0.9), rgba(181, 181, 14, 0.9));

  & img {
    transition: all 2s ease-in-out;
    opacity: 1;
  }

  &:hover .project-image {
    opacity: 0.3;
    transform: scale(1.3);
  }

  &:hover .search-link {
    margin-top: 0;
    opacity: 1;
  }
}

.search-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #2a9134;
  transition: margin 2s ease-in-out, color 0.5s ease-in-out,
    opacity 0.75s ease-in-out;
  margin-top: -50%;
  opacity: 0;

  &:hover {
    color: $solor-tertiary;
  }
}

/*current project*/

#current-project {
  background: $color-quinary;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.current-project {
  width: 50%;
  height: 60%;
  position: absolute;
  transition: all 2s ease-in-out;

  &:hover {
    z-index: 10;
    transform: scale(1.1);
  }

  &-photo {
    position: relative;
    min-height: 50vh;
  }

  &-1 {
    top: 0;
    left: 10%;
    transform: rotate(-15deg);
    z-index: 20;
  }

  &-2 {
    top: 0;
    left: 46%;
    transform: rotate(8deg);
    z-index: 30;
  }

  &-3 {
    top: 40%;
    left: 3%;
    transform: rotate(-5deg);
  }

  &-4 {
    top: 41%;
    left: 40%;
    transform: rotate(38deg);
  }

  &:hover {
    transform: scale(1.1);
    z-index: 50;
  }
}

/*posts*/

#posts .card {
  background: transparent !important;
  border: none;
  position: relative;

  &-img-top {
    border-radius: 0 !important;
  }

  &-footer {
    background: transparent;
  }
}

.post-link {
  color: $color-primary;
  transition: all 1s ease-in-out;

  &:hover {
    color: #dd0000;
    text-decoration: none;
  }
}

.corner-text {
  position: absolute;
  top: 0;
  right: 0;
  background: #dd0000;
  opacity: 0;
  transition: all 1s ease-in-out;
}

#posts .card:hover .corner-text {
  opacity: 1;
}

/*contact-form*/
.height-30 {
  min-height: 30vh;
}

#contact-form {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner-2.jpeg) center/cover fixed no-repeat;
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%);
  & h1 {
    color: #2a9134;
  }

  & .form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid #f1fffa;
    border-radius: 0;
    color: $color-secondary;

    &::placeholder {
      text-transform: capitalize;
      font-size: 20px;
      color: $color-secondary;
    }
  }

  & button {
    background: transparent;
    border: 2px solid $color-secondary;
    color: $color-secondary;
    border-radius: 0;
    transition: all 2s ease;

    &:hover {
      background: $color-secondary;
      border-color: $color-primary;
      color: $color-primary;
    }
  }

  & .btn-width {
    width: 45% !important;
  }
}

/*############values##############*/

.value {
  position: relative;

  &-icon {
    font-size: 60px;
    color: $color-secondary;
    background: $solor-tertiary;
    padding: 25px 35px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: all 2s ease;
  }

  &-number {
    padding: 15px;
    background: $color-primary;
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    top: -12%;
    left: 57%;
    transition: all 2s ease;
    color: $solor-tertiary;
  }

  &:hover .value-icon {
    background: $color-primary;
    transform: scale(1.2);
  }

  &:hover .value-number {
    background: $color-primary;
    color: $color-secondary;
    transform: scale(0.9);
  }
}

/*###########reviews#########*/

#reviews {
  background: linear-gradient(rgba(67, 170, 139, 0.7), rgba(67, 170, 139, 0.7)),
    url(../img/banner-1.jpeg);
  color: $color-secondary;
}

.customer-text {
  & h3 {
    color: $solor-tertiary;
  }

  & h4 {
    color: #5a5a5a;
  }

  & p {
    line-height: 1.5;
  }

  & span {
    font-size: 40px;
    color: #cbcb00;
  }
}

.ratings {
  color: #cbcb00;
}

/*#########team###############*/

.member-container {
  position: relative;
  overflow: hidden;
  background: $color-primary;

  &:hover .team-image {
    transform: translateY(-72px);
    opacity: 0.5;
  }

  &:hover .member-info {
    margin-bottom: 0;
  }
}

.team-image {
  transition: all 2s ease-in-out;
}

.team-icons a {
  color: $color-secondary;
  font-size: 25px;
  transition: color 1s ease;

  &:hover {
    color: $solor-tertiary;
  }
}

.member-info {
  backface-visibility: hidden;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: $color-primary;
  color: $solor-tertiary;
  transition: all 2s ease-in-out;
  margin-bottom: -140px;
}

.member-icon a {
  font-size: 4rem;
  color: #f1fffa;
  transition: all 2s ease;

  &:hover {
    text-decoration: none;
    color: $solor-tertiary;
  }
}

/*#######number###################*/

.number {
  background: $color-primary;
  color: $solor-tertiary;
  transition: all 2s ease;

  &:hover {
    background: $solor-tertiary;
    color: $color-primary;
  }
}

/*##########contact##########################*/

.height-60 {
  min-height: 80vh;
}

#contact {
  background: linear-gradient(rgba(67, 170, 139, 0.3), rgba(67, 170, 139, 0.3)),
    url(../img/banner-1.jpeg) center/cover fixed no-repeat;

  & .card {
    background: rgba(0, 0, 0, 0.5);
    transition: all 2s ease;

    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
  }

  & .card-header {
    color: $color-primary;
  }

  & .input-group-text {
    background: $color-primary;
    border-color: $color-primary;
    color: $solor-tertiary;
  }

  .card input {
    color: #606060;

    &::placeholder {
      color: #606060;
    }
  }
}

.contact-btn {
  color: $color-secondary;
  background: $color-primary;
  transition: all 2s ease-in-out;

  &:hover {
    background: transparent;
    border-color: $color-primary;
    color: $color-primary;
  }
}

/*##############footer###################*/

footer {
  background: $solor-tertiary;

  & h5 {
    color: $color-secondary;
  }
}

.footer-icons a {
  color: $color-primary;
  font-size: 25px;
  transition: color 1s ease;

  &:hover {
    color: $color-secondary;
  }
}
